RewriteEngine On
RewriteRule ^$ views/sections/index.php
RewriteRule ^login$ views/sections/login.php
RewriteRule ^register$ views/sections/register.php
RewriteRule ^register_patient$ views/sections/register_patient.php
RewriteRule ^shop$ views/sections/shop.php
RewriteRule ^single-product-details/([a-zA-Z0-9]+)$ views/sections/single-product-details.php?product=$1
RewriteRule ^checkout$ views/sections/checkout.php
RewriteRule ^contact$ views/sections/contact.php
RewriteRule ^recommend$ views/sections/recommend.php
RewriteRule ^cart$ views/sections/cart.php
RewriteRule ^index$ views/sections/index.php